@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
$font: 'Comfortaa', cursive;

// Colors
$white: #fff;
$black: #000;
$maroon: #83333e;
$off-white: #f2f4f5;


html, body {
  font-family: $font;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.container {
  width: 102.5rem;
  min-width: 102.5rem;
  margin: 0 auto;
  @media(max-width: 1440px) {
    width: 95%;
    min-width: 100%;
  }
  @media(max-width: 1280px) {
    width: 95%;
    min-width: 100%;
  }
  @media(max-width: 1215px) {
    width: 95%;
    min-width: 100%;
  }
  @media(max-width: 1180px) {
    width: 95%;
    min-width: 100%;
  }
  @media(max-width: 1115px) {
    width: 95%;
    min-width: 100%;
  }
  @media(max-width: 976px) {
    width: 100%;
    min-width: 100%;
  }
  @media (max-width: 767px) {
    width: 97%;
    min-width: 100%;
  }
  @media (max-width: 400px) {
    width: 100%;
    min-width: 100%;
  }
}
